* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

header {
  height: auto;
  width: auto;
}
header section {
  height: auto;
  width: auto;
}
header section nav.navbar {
  height: 4.5rem;
  width: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}
header section nav.navbar a.navbar-brand {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2.4rem;
  font-style: none;
  text-decoration: none;
  color: #e0ddcf;
}
header section nav.navbar a.navbar-brand:hover {
  color: #f1f0ea;
}
header section nav.navbar div.collapse div.navbar-nav a.nav-item {
  font-size: 1.6rem;
  color: #e0ddcf;
}
header section nav.navbar div.collapse div.navbar-nav a.nav-item:hover {
  color: #f1f0ea;
}

main section#tabela {
  margin-top: 1rem;
}
main section#tabela th {
  font-size: 1.6rem;
}
main section#tabela div#table_id_wrapper div.row div.col-sm-12 div#table_id_length label {
  font-size: 1.6rem;
}
main section#tabela div#table_id_wrapper div.row div.col-sm-12 div#table_id_length label select option {
  font-size: 1.6rem;
}
main section#tabela div#table_id_wrapper div.row div.col-sm-12 div#table_id_length label select option:hover {
  background: #003fa6;
}
main section#tabela div#table_id_wrapper div.row div.col-sm-12 div#table_id_filter label {
  font-size: 1.6rem;
}
main section#tabela div#table_id_wrapper div.row div.col-sm-12 table#table_id thead tr th {
  font-size: 1.6rem;
  text-align: center;
}
main section#tabela div#table_id_wrapper div.row div.col-sm-12 table#table_id tbody {
  text-align: center;
}
main section#tabela div#table_id_wrapper div.row div.col-sm-12 table#table_id tbody tr.odd {
  background-color: rgba(2, 18, 43, 0.1019607843);
}
main section#tabela div#table_id_wrapper div.row div.col-sm-12 table#table_id tbody tr {
  font-size: 1.6rem;
}
main section#tabela div#table_id_wrapper div.row div.col-sm-12 table#table_id tbody tr span {
  font-size: 1.6rem;
  margin-left: 3rem;
}
main section#tabela div#table_id_wrapper div.row div.col-sm-12 table#table_id tbody tr a {
  font-size: 1.3rem;
  color: #003fa6;
}
main section#tabela div#table_id_wrapper div.row div.col-sm-12 table#table_id tbody td {
  font-size: 1.6rem;
  height: 7rem;
}
main section#tabela div#table_id_wrapper div.row div.col-sm-12 div#table_id_info {
  font-size: 1.6rem;
}
main section#tabela div#table_id_wrapper div.row div.col-sm-12 div#table_id_paginate ul.pagination li {
  font-size: 1.6rem;
}
main section#tabela div.divBuscas {
  margin-bottom: 1rem;
}
main section#tabela div.divBuscas select {
  font-size: 1.6rem;
}
main section#tabela div.divBuscas select option {
  font-size: 1.6rem;
}
main section#tabela div.divBuscas button#cleanBtn {
  font-size: 1.6rem;
}
main section#tabela span#categorias {
  margin-bottom: 1rem;
}

.equalWidth {
  width: 12rem;
  margin-top: 0.5rem;
}

input.form-control {
  height: 3.5rem;
  font-size: 1.6rem;
}

select.form-control {
  height: 3rem;
  width: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

div.divBuscas {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
div.divBuscas p {
  font-size: 1.6rem;
}

/*# sourceMappingURL=style.css.map */
